
/* im-fell-dw-pica-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/im-fell-dw-pica-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* im-fell-dw-pica-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IM Fell DW Pica';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/im-fell-dw-pica-v16-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gilda-display-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gilda Display';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/gilda-display-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-100 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-100italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-200 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-200italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/montserrat-v25-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900italic - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/montserrat-v25-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-v35-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/open-sans-v35-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/open-sans-v35-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/open-sans-v35-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/open-sans-v35-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/open-sans-v35-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/open-sans-v35-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/open-sans-v35-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/open-sans-v35-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}























body{font-family:'Open Sans',sans-serif;font-weight:600;background:#0b0d1a;color:#cdd0e5;position:relative;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}.bg-dark{background:transparent !important}p{line-height:1.75em;font-weight:400}h1,h2,h3,h4,h5,h6{font-family:'Montserrat',sans-serif;color:#fff;font-weight:500;margin-bottom:0.5em}h1+h1,h1+h2,h1+h3,h1+h4,h1+h5,h1+h6,h2+h1,h2+h2,h2+h3,h2+h4,h2+h5,h2+h6,h3+h1,h3+h2,h3+h3,h3+h4,h3+h5,h3+h6,h4+h1,h4+h2,h4+h3,h4+h4,h4+h5,h4+h6,h5+h1,h5+h2,h5+h3,h5+h4,h5+h5,h5+h6,h6+h1,h6+h2,h6+h3,h6+h4,h6+h5,h6+h6{margin-top: .4em}p+h1,p+h2,p+h3{margin-top:2em}h1{font-size:3em;color:#fff}h2{font-size:1.8em}h3{font-size:1.5em}h4{font-size:1.25em}h5{font-size:1em}h6{font-size:0.75em}a{color:#fff}p
a{color:#DCCB9D;font-weight:bold}a:hover{color:#fff;text-decoration:none}.fluid-text{padding-left:5em;padding-right:5em;max-width:1440px}section{margin-bottom:10em}section
h1{margin:0.8em 0}.section-header{text-align:center}section.main-content{padding:1% 0}.hentry{}img.size-full{max-width:100%;height:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.btn{background-color:#396049;border:none}.btn-primary,.more-link,input[type="submit"],button[type="submit"]{color:#DCCB9D;text-align:center;background:none;font-size:1em;text-transform:uppercase;letter-spacing:3px;border:1px
solid rgba(255, 255, 255, 0.3);border-radius:2px;display:inline-block;margin:25px;min-width:180px;padding:20px;position:relative;text-decoration:none;transition:0.25s;font-weight:400}.more-link-wrapper,input[type="submit"],button[type="submit"]{margin:1em
0 0 0;text-align:center}.btn-primary:hover,.more-link:hover,input[type="submit"]:hover,button[type="submit"]:hover{color:#fff;background:none;border:1px
solid #DCCB9D;text-decoration:none;transition:0.25s}.btn-primary:active,.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle,.more-link:active,input[type="submit"]:active,button[type="submit"]:active{color:#fff;background:none;border:1px
solid #DCCB9D;text-decoration:none;transition:0.25s;outline:none}.btn-primary:focus,.btn-primary:focus-within,.more-link:focus,.more-link:focus-within,input[type="submit"]:focus,button[type="submit"]:focus-within,input[type="submit"]:focus,button[type="submit"]:focus-within{color:#DCCB9D;border:1px
solid rgba(255, 255, 255, 0.3);box-shadow:none;outline:none}.btn-primary-cookie{min-width:initial;padding:10px;font-size:0.9em}#cn-notice-text{font-size:1.2em;font-weight:300}.btn-primary>svg{height:27px;width:27px;margin-right:10px}.btn-primary > svg path#on-air-out{animation:on-air-out 2.5s infinite ease-in-out}.btn-primary > svg path#on-air-in{animation:on-air-in 2.5s infinite ease-in-out}.btn-primary > svg
ellipse{transform-origin:50% 50%;animation:on-air-circle 2.5s infinite ease-in-out}@keyframes on-air-circle{0%{opacity: .1;transform:scale(1)}25%{opacity:1;transform:scale(2.4)}50%{opacity:1}75%{opacity:1;transform:scale(1)}100%{opacity: .3}}@keyframes on-air-in{0%{opacity: .3}25%{opacity: .3}50%{opacity:1}75%{opacity:1}100%{opacity: .3}}@keyframes on-air-out{0%{opacity: .3}50%{opacity: .3}75%{opacity:1}100%{opacity: .3}}.btn-text,
.comment-reply-link,
.nav-previous,
.nav-next,
.crp-wrapper
a{color:#DCCB9D;position:relative;display:inline-block;font-size:1em;text-transform:uppercase;letter-spacing:3px;transition:0.25s;font-weight:400}.btn-text::after,
.comment-reply-link::after,
.nav-previous::after,
.nav-next::after,
.crp-wrapper a::after{content:"";display:block;width:50%;padding-top:1.2em;margin-bottom:2.5em;border-bottom:solid 1px rgba(255, 255, 255, 0.5);transition:0.25s}.nav-next::after{margin-left:50%}.btn-text:hover,
.comment-reply-link:hover,
.nav-previous:hover,
.nav-next:hover,
.crp-wrapper a:hover{color:#fff;font-size:1em;text-transform:uppercase;letter-spacing:3px;transition:0.25s;text-decoration:none}.btn-text:hover::after,
.comment-reply-link:hover:after,
.nav-previous:hover::after,
.nav-next:hover::after,
.crp-wrapper a:hover::after{content:"";display:block;width:100%;padding-top:1.2em;margin-bottom:2.5em;border-bottom:solid 1px #DCCB9D;transition:0.25s}.nav-next:hover::after{margin-left:0%}.btn-text:focus,
.btn-text:active,
.comment-reply-link:focus,
.comment-reply-link:active,
.nav-previous:focus,
.nav-previous:active,
.nav-next:focus,
.nav-previous:active,
.crp-wrapper a:focus,
.crp-wrapper a:active{color:#DCCB9D;position:relative;display:inline-block;font-size:1em;text-transform:uppercase;letter-spacing:3px;transition:0.25s}.btn-text:focus::after,
.btn-text:active::after,
.comment-reply-link:focus::after,
.comment-reply-link:active::after,
.nav-previous:focus::after,
.nav-previous:active::after,
.nav-next:focus::after,
.nav-next:active::after,
.crp-wrapper:focus a::after,
.crp-wrapper:active a::after{content:"";display:block;width:50%;padding-top:1.2em;margin-bottom:2.5em;border-bottom:solid 1px rgba(255, 255, 255, 0.5);transition:0.25s}.nav-next:focus::after,.nav-next:active::after{margin-left:50%}.navbar{padding:2.5em;transition:padding 0.2s ease-in-out, background 0.2s ease-in-out;font-size:0.95em}.navbar-shrunken,.navbar-toggle{background:#020717 !important;padding:1em;transition:all 0.3s ease-in-out}.navbar-collapse{text-align:center}.navbar-dark .navbar-nav .nav-link{font-family:'Montserrat',sans-serif;font-size:0.9em;color:#fff;font-weight:400;letter-spacing:1px;margin:8% 1.5em;-webkit-box-shadow:none;box-shadow:none;display:inline;transition:all 0.2s ease-in-out 0s}.navbar-brand{font-family:'IM Fell DW Pica',serif;font-size:1em;letter-spacing:2px;text-transform:uppercase;margin:0
13px;transition:all 0.2s ease-in-out 0s}.navbar-dark .navbar-nav .cta-button{border:solid 2px #fff;padding:8% !important;text-transform:uppercase;font-size:0.8em}.navbar-dark .navbar-nav .cta-button:hover{background:#fff;color:#000 !important}.navbar-dark .navbar-nav>.social-link>a{margin:0
0.75em}.modal-open[style]{padding-right:0px !important}.modal-body{text-align:center}.modal
p{color:#4a4a4a}.modal-title{color:#000}.thanks
i{color:rgb(255, 87, 57)}.paypal-button{margin:5% 0}.navbar-dark .navbar-nav .nav-link:hover{text-decoration:none;color:#DCCB9D;text-shadow:0 0 1px #fff1c9;transition:all 0.2s ease-in-out 0s}.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .dropdown
.active{text-shadow:0 0 1px #fff1c9;color:#DCCB9D}.navbar-dark .navbar-toggler{border:none;margin-right:30px;margin-bottom:2px;outline:none}.navbar-dark .navbar-nav>a>i{padding:0
2em;font-size:1.2em}.dropdown-menu{background:none;border:none;padding:1rem 0;animation:0.5s ease-in-out 0s fadeInTopNoDeay;-webkit-animation:0.5s ease-in-out 0s fadeInTopNoDelay;-moz-animation:0.5s ease-in-out 0s fadeInTopNoDelay}.dropdown-item{font-size:0.9em;color:#fff;font-family:'Montserrat',sans-serif;font-weight:400;padding: .5em 2em;transition:all 0.2s ease-in-out 0s}.dropdown-item:focus,.dropdown-item:hover{background:none;color:#DCCB9D;text-shadow:0 0 1px #fff1c9;transition:all 0.2s ease-in-out 0s;margin-left:1%}.dropdown-divider{margin:1em
50% 1em 2em;border-top:1px solid rgba(255, 255, 255, 0.3)}.dropdown-title{color:#fff;font-family:'Montserrat',sans-serif;text-transform:uppercase;font-weight:600;padding-left:1.25em;padding-top:2em}.dropdown-background{background:#020717 !important;padding-bottom:25em;transition:padding 0.3s ease-in-out, background 0.3s ease-in-out}.dropdown-toggle::after{vertical-align:0.1em;border-top: .5em solid;border-right: .5em solid transparent;border-left: .5em solid transparent;border-radius:3px;transition:transform 0.3s ease-in-out 0s}.dropdown-toggle[aria-expanded="true"]::after{transform:rotate(180deg) translateY(0.1em);transform:transition: transform 0.3s ease-in-out 0s}footer{background:#070913;padding-top:2%}.footer-nav>li>a,.footer-nav>li>a:active{text-align:center;font-size:0.8em;text-align:center;font-weight:400 !important;color:#cdd0e5a2 !important;padding:0
1em;border-bottom:none !important}.footer-nav>li>a:hover{color:#fff !important;text-decoration:none;font-size:600}#copyright{margin-top:2%;color:#DCCB9D;text-align:center}.landingpage
h1{font-size:5em}#hero,#season-1,#season-2,#fof,#live{background:linear-gradient(180deg, rgba(11, 13, 26, 0.5) 5%, rgba(11, 13, 26, 0.25) 25%, rgba(11, 13, 26, 0.25) 50%, rgba(11, 13, 26, 0.75) 75%, #0b0d1a 100%), url(assets/img/hero-bg.jpg);background-size:cover;background-position:center center;height:100vh;color:white;text-align:center;position:relative;padding:0;animation:ease 0.5s fadeIn;-webkit-animation:ease 0.5s fadeIn;-moz-animation:ease 0.5s fadeIn;margin-bottom:0}#hero h1, #season-1 h1, #season-2 h1,#team-info{font-family:'IM Fell DW Pica',serif;font-size:6em;font-weight:500;color:#dacfb3;margin:0;transition:0.25s;animation:3s ease 0s fadeInTop;-webkit-animation:3s ease 0s fadeInTop;-moz-animation:3s ease 0s fadeInTop}#live #title
img{max-width:60vw;margin-bottom:40px;animation:3s ease 0s fadeInTop;-webkit-animation:3s ease 0s fadeInTop;-moz-animation:3s ease 0s fadeInTop}#season-2
h1{color:#DCCB9D}#hero p, #season-1 p, #season-2 p, #live
p{font-family:'Montserrat',sans-serif;font-size:1.5em;font-weight:400;letter-spacing:5px;text-transform:uppercase;transition:0.25s;animation:6s ease 0s fadeInBottom;-webkit-animation:6s ease 0s fadeInBottom;-moz-animation:6s ease 0s fadeInBottom}#season-1 h4, #season-2 h4, , #live
h4{font-family:'Montserrat',sans-serif;font-size:1.25em;margin:0
20%;padding-bottom:5%;font-weight:400;letter-spacing:1px;text-transform:uppercase;transition:0.25s;color:#cdd0e5}#live
h4{font-weight:400;max-width:75vw;margin-left:auto;margin-right:auto}#hero
h4{font-weight:normal;margin:2% 0 3% 0;font-size:200%;color:white}#hero
span{font-weight:normal;font-size:150%}#title{height:50vh;padding-top:20vh}#season-1 #title, #season-2
#title{padding-top:27.5vh}#title-team{height:50vh;padding-top:25vh}.hero-info{height:50vh;padding-bottom:3%;animation:3s ease 0s fadeIn;-webkit-animation:3s ease 0s fadeIn;-moz-animation:3s ease 0s fadeIn}#abobuttons,#season-1-info,#live-info{margin-top:20vh}#current-episode-button{margin-top:15vh}.scroll-hint{width:50px;height:80px;background:transparent;border:1px
solid rgba(255,255,255,0.5);border-radius:2em;position:relative;display:flex;justify-content:center;margin-left:auto;margin-right:auto;animation:6s ease 0s fadeInBottomDelay;-webkit-animation:6s ease 0s fadeInBottomDelay;-moz-animation:6s ease 0s fadeInBottomDelay;opacity:1;transition:opacity 1s}.scroll-hint:after{content:'';display:block;position:absolute;width:8px;height:8px;background:#DCCB9D;margin-top:16px;border-radius:1em;animation:scroll-hint 2400ms ease infinite}@keyframes scroll-hint{0%,35%{opacity:1}0%{}15%{height:20px;translateY: (15px)}50%,100%{height:4px;transform:translateY(40px);opacity:0}}.lettering-title{color:#fff;font-family:'Gilda Display',serif;letter-spacing:5px;opacity:0}.lettering-title-visible{opacity:1}.lettering-title
span{opacity:0}.lettering-animate{transition:2s;opacity:1 !important}.lettering-animate-fast{transition:1s;opacity:1 !important}.animation-content{opacity:0}.content-animate{transition:2s;opacity:1 !important}#info-podcast h4, #info-story h4, #tagebuch-excerpt
h4{color:#6c83a0;font-family:'Montserrat',sans-serif;text-transform:uppercase;letter-spacing:3px;font-weight:400}#info-podcast .col-lg-6, #info-story .col-lg-6, #tagebuch-excerpt .col-lg-6{text-align:center}canvas{display:block;vertical-align:bottom}#particles-js-1a,#particles-js-1b,#particles-js-2{position:absolute;width:100%;height:100%}#particles-js-2 .particles-js-canvas-el{margin-top:initial}.particles-js-canvas-el{margin-top:52vh;height:48vh !important}.avoid-clicks{pointer-events:none;user-select:none}#info-podcast{background:url(assets/img/bg_schiff.png);background-size:65%;position:relative;background-repeat:no-repeat;background-position:130% 50%}.bg-tint:before{content:'';position:absolute;width:100%;height:100%;top:0;left:0;background:-moz-linear-gradient(top, rgba(11,13,26,1) 0%, rgba(11,13,26,0.75) 50%, rgba(11,13,26,1) 100%);background:-webkit-linear-gradient(top, rgba(11,13,26,1) 0%,rgba(11,13,26,0.75) 50%,rgba(11,13,26,1) 100%);background:linear-gradient(to bottom, rgba(11,13,26,1) 0%,rgba(11,13,26,0.75) 50%,rgba(11,13,26,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0d1a', endColorstr='#0b0d1a',GradientType=0 )}#info-story{background:url(assets/img/bg_kutsche.png);background-size:50%;position:relative;background-repeat:no-repeat;background-position:0% 95%}#info-chars,#team-members{margin-bottom:10%}#info-chars
p{margin-top:10em;margin-bottom:0;text-align:left}#info-chars h1, #info-chars h3, #team-members h1, #team-members
h3{text-align:center}#info-chars
h3{margin:2em
0;font-family:'Montserrat',sans-serif;text-transform:uppercase}#info-chars .btn-text{margin-top:1.5em}#info-chars .btn-text::after{margin-bottom:0.5em}.char,.team{background-repeat:no-repeat !important;background-size:contain !important;background-position:50% 50% !important;margin-bottom:10%}.char:nth-child(odd),.team:nth-child(odd){margin-bottom:20%}.char:nth-child(even),.team:nth-child(even){margin-bottom:0;margin-top:20%}#search{background:linear-gradient(180deg, #0b0d1a 0%, rgba(11, 13, 26, 0.75) 55%, #0b0d1a 100%), url('assets/img/book.jpg');background-size:cover;height:50vh;margin-bottom:3%;animation:ease 0.5s fadeIn;-webkit-animation:ease 0.5s fadeIn;-moz-animation:ease 0.5s fadeIn}#search-404{margin-top:25vh;height:1vh}.no-results{text-align:center}.search-no-results #page
.tagebuch{height:29vh}.searchbar{position:relative}.searchbar.clicked .btn-search{border-radius:0 40px 40px 0;margin-left:115px;border:none;background-color:#fff}.searchbar.clicked .btn-extended{margin-left:-185px;width:300px;padding:20px
30px;opacity:1;border-radius:40px 0 0 40px}.searchbar .btn-search{position:absolute;background-color:transparent;color:#DCCB9D;width:70px;height:70px;left:50%;margin-left:-35px;top:50%;border-radius:40px;border:1px
solid rgba(255,255,255,0.5);cursor:pointer;transition:all 0.4s ease-in-out}.searchbar .btn-search:before{position:absolute;content:'';display:block;top:24px;left:24px;width:15px;height:15px;border-radius:20px;box-shadow:0px 0px 0px 3px #dccb9d}.searchbar.clicked .btn-search:before{box-shadow:0px 0px 0px 3px #0b0d1a}.searchbar .btn-search:after{content:"";position:absolute;width:15px;height:4px;top:42px;left:37px;background-color:#dccb9d;transform:rotateZ(45deg);border-radius:3px}.searchbar.clicked .btn-search:after{background-color:#0b0d1a}.searchbar .btn-extended{position:absolute;width:0px;height:70px;left:50%;margin-left:35px;top:50%;border-radius:40px;padding:0;font-size:16px;border:none;opacity:0;transition:all 0.4s ease-in-out}.searchbar .btn-extended:focus{outline-width:0px}.searchbar input[type="text"], #fof input[type="text"]{color:#0b0d1a}.search-term{text-align:center;position:relative;top:60%;font-family:'Montserrat',sans-serif;text-transform:uppercase;letter-spacing:3px;font-weight:400;padding-top:6%}.tagebuch{margin-bottom:25%}#tagebuch-excerpt{margin-bottom:20%}#tagebuch-excerpt:nth-child(7){margin-bottom:10%}.excerpt-title{font-size:3.5em}#post-title{text-align:center;font-size:4em}.entry-header{margin:25% 0 10% 0}.posts-navigation{margin:0
10% 0 10%}.divider{border-bottom:solid 1px #DCCB9D;margin:2em
20%}.alignleft,img.alignleft{display:inline;float:left;margin-right:1.5em}.alignright,img.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}p{clear:both}.post-metainfo{text-align:center}.post-metainfo
h3{font-size:1.25em;letter-spacing:3px;color:#6c83a0}.post-metainfo
a{color:#fff}.post-metainfo a:hover{color:#DCCB9D}.post-details a:hover, .post-author a:hover, .post-excerpt a:hover, .widget ul li a:hover, .social a:hover{text-decoration:none}.post-thumb{background-repeat:no-repeat !important;background-size:contain !important;background-position:50% 50% !important;padding:5% 0;margin:0
10%}.sticky{display:block}.byline,.updated:not(.published){display:none}.single .byline,
.group-blog
.byline{display:inline}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0
0 1.5em}.pwp4-wrapper{margin-bottom:10%}.control-bar{margin:3% 0}.post
img{max-width:100%;height:auto}#comments{margin-bottom:20%}#comment,#author,#email,#url{background:rgba(89, 69, 75, 0.1);border:solid 1px rgba(255, 255, 255, 0.05)}.comment{border:solid 1px rgba(255, 255, 255, 0.05)}#comments h3, .crp_related
h3{text-align:left;margin:3em
0 1.5em 0 !important}#comments
ol{list-style:none;padding:0;margin:0}#comments ol
li{background:rgba(89, 69, 75, 0.1);padding:10px
20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}#comments ol li
ol.children{padding:0;list-style:none}.comment-author{font-size:1em;letter-spacing:2px;text-transform:uppercase}.comment-author
b{font-weight:400}.comment-author
img{border-radius:50%}.fn{color:#DCCB9D}.comment-content{colot:#fff}#leave-comment{margin:40px
0 0;padding:20px
0 0;border:1px
0 0 0 solid #eee}#comments
footer{background:none;color:inherit;text-align:left}#comments footer
a{color:inherit}#comments .comment-metadata{margin:2% 0;text-align:left;font-size:0.9em;text-transform:uppercase;color:#999bab;font-weight:500}.comment-reply-link{margin-top:2em;font-size:0.9em;letter-spacing:1px}.comment-reply-link:hover{font-size:0.9em;letter-spacing:1px}.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation{margin:0
0 1.5em;overflow:hidden}.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous{float:left}.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next{float:right;text-align:right}.comment-content
a{word-wrap:break-word}.bypostauthor{display:block}#season-1,#live{background:linear-gradient(180deg, rgba(11, 13, 26, 0.35) 0%, rgba(11, 13, 26, 0.8) 70%, #0b0d1a 100%), url('assets/img/team-bg.jpg');background-size:cover;background-position:center center}#season-1,#season-2,#live{margin-bottom:0}#episode-thumbs{text-align:center;margin:0
10% 10% 10%}.episode{padding:3%;max-width:500px;min-width:300px;height:auto;}.episode-thumb{width:100%}.episode-thumb:before{content:"";display:block;padding-top:100%}.episode-button{text-transform:uppercase;letter-spacing:3px;position:absolute;left:50%;top:50%;transform:translateY(-50%) translateX(-50%);margin:0;width:65%;font-size:1em;border:1px
solid rgba(255,255,255,0.5);line-height:200%}#season-2{background:linear-gradient(180deg, rgba(11, 13, 26, 0.5) 0%, rgba(11, 13, 26, 0.8) 50%, #0b0d1a 100%), url('assets/img/season-2-bg.jpg');background-size:cover;background-position:center right}#fof{background:linear-gradient(180deg, rgba(11, 13, 26, 0.75) 15%, rgba(11, 13, 26, 0.9) 70%, #0b0d1a 100%), url('assets/img/hero-bg.jpg')}#fof-info{height:100vh}#fof-info
h1{font-family:'IM Fell DW Pica',serif;font-size:10em;font-weight:500;color:#DCCB9D;margin:0}#fof-info
h4{margin:0;font-family:'Montserrat',sans-serif;font-weight:400;text-transform:uppercase}#fof-info .search-field{margin:10% 0 5% 0}#team{background:linear-gradient(180deg, rgba(11, 13, 26, 0.5) 0%, rgba(11, 13, 26, 0.75) 30%, #0b0d1a 100%), url('assets/img/team-bg.jpg');background-size:cover;background-position:center center;height:50vh;margin-bottom:3%;animation:ease 0.5s fadeIn;-webkit-animation:ease 0.5s fadeIn;-moz-animation:ease 0.5s fadeIn}#team-info{text-align:center;margin:0% 10%}#team-members
p{text-align:center;font-size:1.2em;margin-top:10%;padding:0
10% 0 10%}#team-members{padding-left:5em;padding-right:5em}#team-members
h3{margin:40% 0 5% 0}.team-social{text-align:center;font-size:1.5em;margin-bottom:3%}.team-social .btn-primary{margin:0
7px 0 7px;height:50px;width:50px;min-width:50px;border-radius:25px;padding:0;line-height:2;letter-spacing:0}.datenschutz,.impressum{margin-top:15%}.impressum h1, .datenschutz h1, .impressum h2, .datenschutz
h2{font-family:'Montserrat',sans-serif;letter-spacing:0;text-transform:unset;margin:5% 0 1% 0}.impressum h2, .datenschutz
h2{margin:0
0 0.45em 0}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px
23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.crp_related
ul{padding:0;list-style-type:none}.wp-polls
.Buttons{border:none !important;background-color:#a94442 !important;border-radius:10px;font-size:1.2em;font-weight:600}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}label{display:block;font-size:1em;letter-spacing:2px;text-transform:uppercase}input[type="text"],input[type="email"],textarea{color:#e0e6ec;border:1px
solid #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding:1% 2%}.comment-form-url{color:#e0e6ec !important}@keyframes
fadeIn{0%{opacity:0}60%{opacity:0}100%{opacity:1}}@-webkit-keyframes
fadeIn{0%{opacity:0}60%{opacity:0}100%{opacity:1}}@-moz-keyframes
fadeIn{0%{opacity:0}60%{opacity:0}100%{opacity:1}}@keyframes
fadeInHalf{0%{opacity:0}60%{opacity:0}100%{opacity:0.5}}@-webkit-keyframes
fadeInHalf{0%{opacity:0}60%{opacity:0}100%{opacity:0.5}}@-moz-keyframes
fadeInHalf{0%{opacity:0}60%{opacity:0}100%{opacity:0.5}}@keyframes
fadeInTop{0%{opacity:0;transform:translateY(-8%)}40%{opacity:0;transform:translateY(-8%)}100%{opacity:1;transform:translateY(0%)}}@-webkit-keyframes
fadeInTop{0%{opacity:0;transform:translateY(-8%)}40%{opacity:0;transform:translateY(-8%)}100%{opacity:1;transform:translateY(0%)}}@-moz-keyframes
fadeInTop{0%{opacity:0;transform:translateY(-8%)}40%{opacity:0;transform:translateY(-8%)}100%{opacity:1;transform:translateY(0%)}}@keyframes
fadeInTopNoDelay{0%{opacity:0;transform:translateY(-8%)}100%{opacity:1;transform:translateY(0%)}}@-webkit-keyframes
fadeInTopNoDelay{0%{opacity:0;transform:translateY(-8%)}100%{opacity:1;transform:translateY(0%)}}@-moz-keyframes
fadeInTopNoDelay{0%{opacity:0;transform:translateY(-8%)}100%{opacity:1;transform:translateY(0%)}}@keyframes
fadeInBottom{0%{opacity:0;transform:translateY(8%)}40%{opacity:0;transform:translateY(8%)}100%{opacity:1;transform:translateY(0%)}}@-webkit-keyframes
fadeInBottom{0%{opacity:0;transform:translateY(8%)}40%{opacity:0;transform:translateY(8%)}100%{opacity:1;transform:translateY(0%)}}@-moz-keyframes
fadeInBottom{0%{opacity:0;transform:translateY(8%)}40%{opacity:0;transform:translateY(8%)}100%{opacity:1;transform:translateY(0%)}}@keyframes
fadeInBottomDelay{0%{opacity:0;transform:translateY(8%)}80%{opacity:0;transform:translateY(8%)}100%{opacity:1;transform:translateY(0%)}}@-webkit-keyframes
fadeInBottomDelay{0%{opacity:0;transform:translateY(8%)}80%{opacity:0;transform:translateY(8%)}100%{opacity:1;transform:translateY(0%)}}@-moz-keyframes
fadeInBottomDelay{0%{opacity:0;transform:translateY(8%)}80%{opacity:0;transform:translateY(8%)}100%{opacity:1;transform:translateY(0%)}}@keyframes
fadeInBottomLight{0%{opacity:0;transform:translateY(10px)}100%{opacity:1;transform:translateY(0)}}@-webkit-keyframes
fadeInBottomLight{0%{opacity:0;transform:translateY(10px)}100%{opacity:1;transform:translateY(0)}}@-moz-keyframes
fadeInBottomLight{0%{opacity:0;transform:translateY(10px)}100%{opacity:1;transform:translateY(0)}}@media (min-width: 576px){#title{font-size:0.9em}}@media (min-width: 768px){#title{font-size:0.8em}}@media (min-width: 992px){.navbar-expand-lg .navbar-nav .nav-link{padding-right:0;padding-left:0}}@media (min-width: 1200px){#title{font-size:1em}}@media (max-width: 350.98px){.navbar-brand{margin-right:15px}.navbar-dark .navbar-collapse .navbar-nav>li>a{font-size:0.9em !important}#title{font-size:0.75em}.btn-primary{min-width:100px !important;margin:1px
!important}.hero-info .btn-primary{min-width:90px !important;margin:1px
!important}}@media (max-width: 991.98px){#hero h1, #season-1 h1, #season-2 h1,#team-info{font-size:4.5em}.navbar{padding:20px
0}.nav-item{animation:1s ease-in-out 0s fadeInTopNoDeay;-webkit-animation:1s ease-in-out 0s fadeInTopNoDelay;-moz-animation:1s ease-in-out 0s fadeInTopNoDelay}.navbar-collapsed{transition:all 0.3s ease-in-out}.navbar-shrunken{padding:10px
0;background:rgba(2, 7, 23, 1) !important}.navbar-dark .navbar-nav>li>a{padding-bottom:1.5%;margin:0
7em}.navbar-dark .navbar-collapse .navbar-nav>li>a{font-size:1.5em}.primary-menu{margin-top:15px}.secondary-menu{margin-bottom:25px}.dropdown-menu{padding:1em
1em 0em 1em}.dropdown-item,.dropdown-title{text-align:center}.dropdown-title{padding-left:0}.dropdown-divider{display:none}.social-link{margin-bottom:25px}.navbar-dark .navbar-nav .cta-button{padding:17px
!important;font-size:1.25em !important}#support{font-weight:100;text-transform:uppercase;color:#fff;margin-right:10px}.navbar-brand{margin:0
25px}.navbar-brand
img{height:30px}.custom-toggle-icon{width:30px;height:30px}.custom-toggle-icon
.line{display:block;background:#ecf0f1;width:22px;height:2px;position:relative;left:0;border-radius:50px;transition:all 0.4s;-webkit-transition:all 0.4s;-moz-transition:all 0.4s}.custom-toggle-icon .line.line-1{margin-top:0}.custom-toggle-icon .line.line-2{margin-top:4px}.custom-toggle-icon .line.line-3{margin-top:4px}.custom-toggle-icon.active .line-1{transform:translateY(6px) translateX(0) rotate(45deg);-webkit-transform:translateY(6px) translateX(0) rotate(45deg);-moz-transform:translateY(6px) translateX(0) rotate(45deg)}.custom-toggle-icon.active .line-2{opacity:0}.custom-toggle-icon.active .line-3{transform:translateY(-6px) translateX(0) rotate(-45deg);-webkit-transform:translateY(-6px) translateX(0) rotate(-45deg);-moz-transform:translateY(-6px) translateX(0) rotate(-45deg)}.scroll-hint{width:30px;height:50px;border-radius:5px}#search-404{height:10vh}.scroll-hint:after{content:'';display:block;position:absolute;width:4px;height:4px;background:#DCCB9D;margin-top:8px;border-radius:3px;animation:scroll-hint 2400ms ease infinite}@keyframes scroll-hint{0%,35%{opacity:1}0%{}15%{height:2px;transform:translateY(30px);opacity:0}50%,100%{height:10px;translateY: (5px)}}.navbar-dark .navbar-collapse ul>li{margin-top:25px}#info-podcast-text,#info-story-text,#tagebuch-excerpt-text{margin-bottom:5%}#info-story-buttons{-ms-flex-order:13;order:13}#info-podcast,#tagebuch-excerpt{background-size:100%;background-position:100% 125%}#info-story{background-size:125%;background-position:0% 125%}section{margin-bottom:3em}#hero,#season-1,#fof{margin-bottom:0em}.char:nth-child(1n+0),.team:nth-child(1n+0){margin-top:0;margin-bottom:20%}#post-title,.excerpt-title{font-size:2.5em}}@media (max-width: 767.98px){p{font-size:0.9em}h1{font-size:1.4em}h2{font-size:1.25em}h3{font-size:1.1em}h4{font-size:1em}h5{font-size:0.9em}.navbar-dark .navbar-collapse .navbar-nav>li>a{font-size:1em}.navbar-dark .navbar-nav .cta-button{font-size:0.8em !important}#hero h1, #season-1 h1, #season-2 h1,#team-info{font-size:2.5em}#hero,#season-1,#season-2,#fof{height:86vh}#hero{background:linear-gradient(180deg, rgba(11, 13, 26, 0.25) 15%, rgba(11, 13, 26, 0.25) 50%, rgba(11, 13, 26, 0.75) 75%, #0b0d1a 100%), url('assets/img/hero-bg-mobile.jpg');background-position:75% center;background-size:cover}#season-2{background-position:80% center}#title,.hero-info{height:43vh}#hero p, #season-1 p, #season-2
p{font-size:0.9em;letter-spacing:3px}#info-podcast h4, #info-story h4, #tagebuch-excerpt
h4{font-size:1em}#season-1 h4, #season-2
h4{font-size:0.8em;margin:0
5%}#season-2 .btn-primary{margin:5% 0}#post-title,.excerpt-title{font-size:1.75em;letter-spacing:2px}#search-404{margin-top:10vh;height:10vh;margin-bottom:10vh}.search-no-results #page
.tagebuch{height:20vh}.search-no-results #page #search-404{height:25vh}#fof{font-size:0.8em}#fof
h1{font-size:8em}#abobuttons,#season-1-info,#live-info,#current-episode-button{margin-top:10vh}.excerpt-title{font-size:1.75em;letter-spacing:0}.btn-primary{font-size:0.9em;margin:15px;min-width:150px;letter-spacing:2px;padding:15px;border:1px
solid rgba(255, 255, 255, 0.2)}.btn-primary>svg{height:15px;width:15px;margin-right:10px}.hero-info .btn-primary{font-size:0.7em;min-width:100px;padding:12px;margin:5px}.episode-thumb .btn-primary{border:1px
solid rgba(255, 255, 255, 0.5);margin:0}.landingpage
h1{font-size:2.5em}.btn-text,.nav-next,.nav-previous{font-size:0.8em !important;letter-spacing:2.5px !important}.search-field{width:60px;height:60px}.search-field:hover{width:85%}input[type="search"]{height:60px;font-size:1.2em;padding:0
17% 0 5%}.fa-search{top:25%;right:10px;font-size:2em}.more-link{font-size:1em !important;letter-spacing:2.5px !important}.fluid-text{padding-left:1.5em;padding-right:1.5em}.post-thumb{margin:0
5%}.posts-navigation .nav-next{float:left;text-align:left}#team-members{padding-left:1.5em;padding-right:1.5em}#team-members
p{text-align:center;font-size:0.9em;margin-top:10%;padding:0}.team-social .btn-primary{margin:0
4px 0 4px;height:40px;width:40px;min-width:40px;border-radius:20px}.nav-next::after{margin-left:0%}.nav-next:focus::after,.nav-next:active::after{margin-left:0%}.nav-links{display:inline-grid}.more-link-wrapper,input[type="submit"],button[type="submit"]{width:100%}.crp-wrapper
a{font-size:0.8em;letter-spacing:2.5px}.crp-wrapper
a{color:#DCCB9D;position:relative;display:inline-block;font-size:0.8em;text-transform:uppercase;letter-spacing:2px;transition:0.25s;font-weight:400}.btn-text::after, .comment-reply-link::after, .nav-previous::after, .nav-next::after, .crp-wrapper a::after{padding-top:0.25em}.comment-author{font-size:0.9em}#comments .comment-metadata{margin:1% 0;font-size:0.7em;letter-spacing:0px}.comment-reply-link{font-size:0.8em}.comment-reply-link:hover{font-size:0.9em}.entry-header{margin:35% 0 5% 0}}@media (max-width: 1199.98px){}@media only screen
and (min-device-width : 768px)
and (max-device-width : 1070px){.navbar-nav{font-size:0.8em}.scroll-hint{width:30px;height:50px;border-radius:5px}.scroll-hint:after{content:'';display:block;position:absolute;width:4px;height:4px;background:#DCCB9D;margin-top:8px;border-radius:3px;animation:scroll-hint 2400ms ease infinite}@keyframes scroll-hint{0%,35%{opacity:1}0%{}15%{height:2px;transform:translateY(30px);opacity:0}50%,100%{height:10px;translateY: (5px)}}}@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px){.scroll-hint{width:30px;height:50px;border-radius:5px}.scroll-hint:after{content:'';display:block;position:absolute;width:4px;height:4px;background:#DCCB9D;margin-top:8px;border-radius:3px;animation:scroll-hint 2400ms ease infinite}@keyframes scroll-hint{0%,35%{opacity:1}0%{}15%{height:2px;transform:translateY(30px);opacity:0}50%,100%{height:10px;translateY: (5px)}}}#cookie-notice{position:fixed;min-width:100%;height:auto;z-index:100000;font-size:13px;letter-spacing:0;line-height:20px;left:0;text-align:center;font-weight:400;font-family:-apple-system,BlinkMacSystemFont,Arial,Roboto,"Helvetica Neue",sans-serif}#cookie-notice,#cookie-notice *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#cookie-notice.cn-animated{-webkit-animation-duration:.5s!important;animation-duration:.5s!important;-webkit-animation-fill-mode:both;animation-fill-mode:both}#cookie-notice.cn-animated.cn-effect-none{-webkit-animation-duration:1ms!important;animation-duration:1ms!important}#cookie-notice .cookie-notice-container{display:block}#cookie-notice.cookie-notice-hidden .cookie-notice-container{display:none}#cookie-notice .cookie-revoke-container{display:block}#cookie-notice.cookie-revoke-hidden .cookie-revoke-container{display:none}.cn-position-top{top:0}.cn-position-bottom{bottom:0}.cookie-notice-container{padding:15px 30px;text-align:center;width:100%;z-index:2}.cookie-revoke-container{padding:15px 30px;width:100%;z-index:1}.cn-close-icon{position:absolute;right:15px;top:50%;margin-top:-10px;width:15px;height:15px;opacity:.5;padding:10px;outline:0}.cn-close-icon:hover{opacity:1}.cn-close-icon:after,.cn-close-icon:before{position:absolute;content:' ';height:15px;width:2px;top:3px;background-color:grey}.cn-close-icon:before{transform:rotate(45deg)}.cn-close-icon:after{transform:rotate(-45deg)}#cookie-notice .cn-revoke-cookie{margin:0}#cookie-notice .cn-button{margin:0 0 0 10px}#cookie-notice .cn-button:not(.cn-button-custom){font-family:-apple-system,BlinkMacSystemFont,Arial,Roboto,"Helvetica Neue",sans-serif;font-weight:400;font-size:13px;letter-spacing:.25px;line-height:20px;margin:0 0 0 10px;text-align:center;text-transform:none;display:inline-block;cursor:pointer;touch-action:manipulation;white-space:nowrap;outline:0;box-shadow:none;text-shadow:none;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-decoration:none;padding:8.5px 10px;line-height:1;color:inherit}.cn-text-container{margin:0 0 6px 0}.cn-buttons-container,.cn-text-container{display:inline-block}#cookie-notice.cookie-notice-visible.cn-effect-none,#cookie-notice.cookie-revoke-visible.cn-effect-none{-webkit-animation-name:fadeIn;animation-name:fadeIn}#cookie-notice.cn-effect-none{-webkit-animation-name:fadeOut;animation-name:fadeOut}#cookie-notice.cookie-notice-visible.cn-effect-fade,#cookie-notice.cookie-revoke-visible.cn-effect-fade{-webkit-animation-name:fadeIn;animation-name:fadeIn}#cookie-notice.cn-effect-fade{-webkit-animation-name:fadeOut;animation-name:fadeOut}#cookie-notice.cookie-notice-visible.cn-effect-slide,#cookie-notice.cookie-revoke-visible.cn-effect-slide{-webkit-animation-name:slideInUp;animation-name:slideInUp}#cookie-notice.cn-effect-slide{-webkit-animation-name:slideOutDown;animation-name:slideOutDown}#cookie-notice.cookie-notice-visible.cn-position-top.cn-effect-slide,#cookie-notice.cookie-revoke-visible.cn-position-top.cn-effect-slide{-webkit-animation-name:slideInDown;animation-name:slideInDown}#cookie-notice.cn-position-top.cn-effect-slide{-webkit-animation-name:slideOutUp;animation-name:slideOutUp}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadeOut{from{opacity:1}to{opacity:0}}@keyframes fadeOut{from{opacity:1}to{opacity:0}}@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes slideOutDown{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}to{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}@keyframes slideOutDown{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}to{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}@-webkit-keyframes slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes slideOutUp{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}to{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}@keyframes slideOutUp{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}to{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}@media all and (max-width:900px){.cookie-notice-container #cn-notice-text{display:block}.cookie-notice-container #cn-notice-buttons{display:block}#cookie-notice .cn-button{margin:0 5px 5px 5px}}@media all and (max-width:480px){.cookie-notice-container,.cookie-revoke-container{padding:15px 25px}}